<% layout('layouts/boiler') %>




  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

  <div class="col-6 m-auto bg-light p-4">
    <h2>Admin Pannel</h2>
    <!-- <h4>Full width button</h4> -->


    <br>
    <hr>
    <br>
    <h4>See all Course</h4>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary me-md-2" type="button"><a href="/course"
          style="color: aliceblue;">see course</a></button>
      
    </div>
    <hr>
    <br>
    <h4>Add Course</h4>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary me-md-2" type="button"><a href="/course/add"
        style="color: aliceblue;">Add Course</a> </button>
      
    </div>
    <hr>
    <br>
    <h4>Assign Lectures</h4>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary me-md-2" type="button"><a href="/course"
        style="color: aliceblue;">Assign</a></button>
      
    </div>
   
    <!-- <br>
  <hr>
  <br> -->
    <!-- <h4>Column size button</h4>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">Button</button>
  </div>
  <br>
  <hr>
  <br>
  <h4>Slim button</h4>
  <button type="button" class="btn btn-primary btn-sm">Slim button</button>
  <br>
  <hr>
  <br>
  <h4>Outlined button</h4>
  <button type="button" class="btn btn-outline-primary">Primary</button>
  <br>
  <hr>
  <br>
  <h4>Border size and color button</h4>
  <button type="button" class="btn border border-2 border-danger">Primary</button>
  <br>
  <hr>
  <br>
  <h4>Border radius button</h4>
  <button type="button" class="btn btn-primary rounded-0 rounded-end"><i class="bi bi-funnel"></i>
</button>
  <br>
  <hr>
  <br>
  <h4>Sharp button</h4>
  <button type="button" class="btn btn-primary rounded-0">Primary</button>
  <br>
  <hr>
  <br>
  <h4>Rounded button</h4>
  <button type="button" class="btn btn-primary rounded-3">Primary</button>
  <br>
  <hr>
  <br>
  <h4>Pill button</h4>
  <button type="button" class="btn btn-primary rounded-pill">Primary</button>
  <br>
  <hr>
  <br>
  <h4>Circle icon button</h4>
  <button type="button" style="--size: 42px; width: var(--size); height: var(--size)" class="btn btn-primary rounded-circle d-flex">
    <i class="bi bi-download"></i> 
  </button>
  <br>
  <hr>
  <br>
  <h4>Button with icon</h4>
  <button type="button" class="btn btn-primary"> 
    <i class="bi bi-download"></i> 
    Download
  </button>
  <br>
  <hr>
  <br>
  <h4>No background button</h4>
  <button type="button" class="btn">Primary</button>
  <br>
  <hr>
  <br>
  <h4>Button as link</h4>
  <button type="button" class="btn btn-link">Link</button>
  <br>
  <hr>
  <br>
  <h4>Link as button</h4>
  <a class="btn btn-primary" href="#" role="button">Link</a>
  <br>
  <hr>
  <br>
  <h4>Button with gradient</h4>
  <button type="button" class="btn btn-primary bg-gradient">Primary</button>
  <br>
  <hr>
  <br>
  <h4>Button with shadow</h4>
  <button type="button" class="btn btn-primary shadow">Primary</button> -->
    <!-- <br>
  <hr>
  <br>
  <h4>Button with icon badge</h4>
  <button type="button" class="btn btn-info position-relative text-white">
  CSV <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-primary p-1"><i class="bi bi-chevron-down"></i>
</span>
</button> -->
  </div>