<% layout('layouts/boiler') %>
 <div class="container">

    <div class="row justify-content-center">
        <h1>Instructor</h1>
        <ul>
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
        </ul>
        </div></div>